

.input {
    max-width: 565px;
    width: 100%;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    padding: 20px 25px;
    outline: none;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
}
@media screen and (max-width: 768px) {
  .input {
      max-width: 335px;
      width: 100%;
      font-size: 18px;
      padding: 9px 17px;
  }

}

@media screen and (max-width: 540px) {
    .input {
        max-width: 285px;
        width: 100%;
        font-size: 14px;
        padding: 9px 40px;
    }
}