.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leftBox {
    width: 50%;
}
.leftBox > p {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}
.rightBox > div > img {
    max-width: 322px;
    width: 100%;
    height: 322px;
}
@media screen and (max-width: 768px){
    .leftBox > p {
        font-size: 16px;
    }
    .rightBox > div > img {
        max-width: 183px;
        width: 100%;
        height: 183px;
    }
}
@media screen and (max-width: 540px) {
    .box {
        flex-direction: column;
    }
    .leftBox {
        width: 100%;
    }
    .rightBox > div > img {
        max-width: 100px;
        width: 100%;
        height: 100px;
    }
}