.bg {
    background-image: url("../../assets/img/auth.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.bg > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 0;
}
.auth {
    width: 700px;
    background: rgba(60, 60, 60, 0.25);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 40px;
    padding: 50px 68px;
}
.auth > h1 {
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    color: #FFFFFF;
    text-align: center;
}
.auth > p {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
}
.auth > button {
    max-width: 415px;
    width: 100%;
    padding: 18px 0;
    background: #DDAB5F;
    border-radius: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: normal;
    font-size: 26px;
    line-height: 42px;
    color: #FFFFFF;
    margin: 0 auto;
}
.auth > p > span {
    text-decoration: underline;
}
.auth > ul > li {
    margin-left: 20px;
    color: #fff;
}
.link {
    color: #fff;
    text-decoration: underline;
}
@media screen and (max-width: 768px) {
    .bg > div {
        padding: 90px 0;
    }

    .auth {
        width: 440px;
        grid-gap: 20px;
        padding: 50px 30px;
    }
    .auth > h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .auth > p {
        font-size: 18px;
    }
    .auth > p > span {
        font-size: 18px;
    }
    .auth > button {
        width: 170px;
        font-size: 14px;
        padding: 4px 0;
    }
}
@media screen and (max-width: 540px) {


    .auth {
        width: 340px;
        grid-gap: 20px;
        padding: 30px 10px;
        margin: 0 10px;
    }
    .auth > h1 {
        font-size: 22px;
        line-height: 24px;
    }
    .link {
        font-size: 20px;
    }
}