.box {
    max-width: 658px;
    width: 100%;
    padding: 12px 26px;
    background: #F5E2CF;
    border: 2px solid #000000;
    border-radius: 20px;
}
.boxName{
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}
.boxDes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boxCategory {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.boxDate {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
@media screen and (max-width: 768px) {
    .boxName, .boxDate {
        font-size: 24px;
        margin: 0;
    }
    .boxCategory {
        font-size: 16px;
    }
}
@media screen and (max-width: 540px){
    .box {
        border: 1px solid #000000;
        padding: 6px 10px;
        border-radius: 10px;
    }
    .boxName {
        font-size: 18px;
        line-height: 30px;
    }
    .boxCategory, .boxDate {
        font-size: 14px;
    }
}