* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Underdog', cursive, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.container2 {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.link {
  text-decoration: none;
  transition: all 0.2s;
  color: #000;
}
.link:hover {
  opacity: 0.6;
  cursor: pointer;
}
textarea {
  resize: none;
  outline: none;
  padding: 12px 16px;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    padding: 0 10px;
  }
}